﻿
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApp.styles.css" asp-append-version="true" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link href="~/css/templatemo-pod-talk.css" rel="stylesheet">

    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand me-lg-5 me-0" href="@Url.Action("Home","Movie")">
                    <img src="images/pngtree-the-logo-of-movie-app-is-colored-vector-png-image_6940840-removebg-preview.png" class="logo-image img-fluid" alt="templatemo pod talk">
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Home","Movie")">Trang chủ</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thể Loại
                            </a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                @Html.Action("Genre", "Movie")
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ActorGrid", "Movie")">Tin Tức</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ActorGrid", "Movie")">FAQs</a>
                        </li>
                        
                    </ul>

                    
                </div>

                <div class="collapse navbar-collapse" id="right-nav">
                    <ul class="navbar-nav ms-lg-auto">
                        @using (Html.BeginForm("SearchByFilter", "Movie")){
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"><i class="bi-search"></i></a>
                        </li>
                        }
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <div class="ms-4">
                    <a href="@Url.Action("PaymentPage" ,"Payment" )" class="btn custom-btn-nav custom-border-btn smoothscroll">Mua gói</a>
                </div>
            </div>
        </nav>
    </main>
    @RenderBody()
    @await Html.PartialAsync("_Footer")
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/custom.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>